.logo {
    text-align: center;
    font-size: 50px;
    margin: auto;
    padding: 5px;

}
html {
    position: relative;
    min-height: 100%;
}
html, body {
    margin: 0;
}
body {
    color: whitesmoke;
    background-image: url(https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Forig00.deviantart.net%2F64e3%2Ff%2F2013%2F183%2F5%2F8%2Fseamless_fabric_pattern_dark_by_shandya-d6br6zb.png&f=1);
}
.text-center {
    width: 100%;
    padding: 0;
    margin: 0;
}
main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-content {
    background-color: #171235;
    padding: 0 20 px;
    border-radius: 5px;
}
.main-section {
    max-width: 100%;
}
.logtitle {
    font-size: 36px;
    margin: auto;
    text-align: left;
}

footer {
 font-size: 12px;
 position: absolute;
 left: 0;
 bottom: 0;
 height: 25px;
 width: 100%;
 overflow: hidden;
}